<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576589603393-2vbci4806b49mm7vntgqc2rn3gdlq5ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576589603393-2vbci4806b49mm7vntgqc2rn3gdlq5ah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576589603393-etntdihmkjfr1enkd36ej9tglhugf3p1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHLoBETbE6VzDa0XDgcqB-GgbavrzRAgY</string>
	<key>GCM_SENDER_ID</key>
	<string>576589603393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthytailsanimalhospital</string>
	<key>PROJECT_ID</key>
	<string>healthytailsanimalhospit-47426</string>
	<key>STORAGE_BUCKET</key>
	<string>healthytailsanimalhospit-47426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576589603393:ios:6152c11199141dd7a45cc0</string>
</dict>
</plist>